<h1><%= title %></h1>

<!-- can be used on any page to customize a login message. -->
<% if (typeof user !== 'undefined') { %>
  <p> Hello, <%= user.name %>! </p>
<% } %>

<p>Welcome to <%= title %></p>
