body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li, ul, ol {
  list-style: none;
}

.error {
  background-color: red;
  box-shadow: 10px 10px 5px #eee;
  color: #fff;
  border-radius: 3px;
  padding: 15px;
  width: 30%;
}
